{% extends "meets/base.html" %}
{% block content %}
<a href="#vk" onclick="window.open('https://vk.com/jeexmenow')">ВКонтакте</a>
<br><a href="#github" onclick="window.open('https://github.com/jeexmenow')">GitHub</a>
<br>____________________________________________________________________________________
<p>Hello, Im <em><strong>Jeex</strong></em>!<br/>And its my test project&nbsp;<br/>Im <strong>junior developer</strong>
    and try my best<br/>Thanks for reading!<br/><em>Have a nice day.</em></p>
____________________________________________________________________________________
<p>Привет, я <em><strong>Jeex</strong></em>!<br/>И это мой тестовый проект<br/>Я <strong>джуниор-разработчик</strong> и
    очень стараюсь<br/>Спасибо за прочтение!<br/><em>Хорошего дня.</em></p>
<img src="https://sun9-31.userapi.com/impg/1VUnL7ri9lBIUQPH5CvTmv5ICllWJdWp4w6zMg/X_lzXt8-m7E.jpg?size=500x500&quality=95&sign=018b479958495b718ce64b5fbd4da804&type=album">
{% endblock content %}

